*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  text-decoration: none;
  border: none;
  text-transform: capitalize;
  box-sizing: border-box;
  transition: all .3s linear; 
}
:root{
  --green:#027314;
  --orange:#ff7200;
  --hex:#d8e9da;
  --ora:#ffeee0;
  --aut:#7d7d7d;
  --util:#e0e0e0;
  --white:#ffff;
  --black:#2c2c54;
  --border:.1rem solid rgba(0,0,0,.1);
  --shadow:1px 1px 3px rgba(0,0,0,.12),1px 1px 3px rgba(0,0,0,.12);
}

*::selection{
  background-color: var(--util);
  color: var(--white);
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 7.5rem;
  overflow-x: hidden;
}

.header{
  display: block;
  box-shadow: var(--shadow);
}
.header header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.header header .img_logo{
  width: 15rem;
  height: 5rem;
}
.header header .img_logo img{
  width: 100%;
  height: 100%;
}
.header header .search_bar{
  display: flex;
  width: 50rem;
}
.header header .search_bar .input_search{
  border: var(--border);
  height: 5rem;
  border-radius: .5rem;
  padding: .5rem;
  width: 100%;
}
.header header .icons{
  display: flex;
  margin: .5rem;
}
.header header .icons i{
  font-size: 1.5rem;
  padding: 2rem;
  border: var(--border);
  color: var(--black);
  border-radius: .5rem;
  margin: .5rem;
}
.header header .icons i:hover{
  background-color: var(--green);
  color: var(--white);
  box-shadow: var(--shadow);
  transition: background-color 1s ease-in-out;
  cursor: pointer;
}

.header header .icons a{
  display: flex;
  margin-right: .5rem;
  font-size: 1.3rem;
  color: var(--black);
  font-weight: bolder;
  align-items: center;
}

.menu{
    background-color:#f2f2f2;
    overflow: hidden;
}

.menu ul {
    list-style: none;
    display: flex;
  }

  .menu li {
    float: left;
    margin: 0 10px;
  }
  
  .menu li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .menu li a:hover {
    background-color: white;
    color: #333;
  }


.left {
    float: left; 
    width: 30%; 
    margin-right: 20px; 
    background-color: #f2f2f2; 
    padding: 10px; 
  }


